@import "~/assets/scss/variables.scss";

body {
    background-color: $app-white;
    color: $app-black;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    display: flex;

    .left-side {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        width: 40%;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;

        .logo {
            >img {
                width: 50%;
            }
        }

        .quote {
            font-size: 20px;
            text-shadow: 4px 6px 4px $app-grey;
        }

        .avatar {
            >img {
                width: 40%;
                border-radius: 50%;
            }
        }

        .basic-details {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .title {
                display: flex;
                flex-direction: column;

                .tag {
                    font-size: small;

                    .role {
                        color: $app-blue;
                    }
                }
            }

            .social {
                display: flex;
                justify-content: center;
                gap: 5px;
            }

            .contacts {
                .contact-item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2px;

                    .icon-caption {
                        padding: 0px 5px 0px 5px;
                    }
                }
            }

        }
    }

    .vertical-divider {
        height: 100vh;
        width: 20px;
    }

    .right-side {
        padding: 15px;
        width: 60%;

        .header {
            display: flex;
            align-items: center;
            margin-bottom: 5px;

            .header-title {
                width: 100%;

                &::after {
                    display: inline-block;
                    content: "";
                    border-top: 2px solid rgba(0, 0, 0, .12);
                    transform: translateY(-0.2rem);
                    width: 100%;
                }

                .dark-mode &::after {
                    border-top: 2px solid $app-white;
                }
            }

            >img {
                width: 10%;
            }
        }

        .about-card {
            text-align: center;
            background-color: $app-card-white;
            top: 5px;

            .greeting {
                font-family: system-ui;
                font-size: 25px;
                font-weight: 500;
            }

            .content {
                font-family: Verdana, Geneva, Tahoma, sans-serif;
            }
        }

        .download {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
        }

        .summary {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            font-size: 14px;
            text-align: center;

            .years {
                background-size: contain;
                background-repeat: no-repeat;
                background-image: url('~/assets/images/logo/yr-v.png');
                padding: 60px;
            }

            .bullets {
                .highlight {
                    background-image: linear-gradient(to bottom right, $app-violet, $app-grey);
                    margin: 5px;
                    padding: 5px;
                    color: $app-white;
                }
            }
        }

        .companies {
            margin-top: 3%;
            display: flex;
            gap: 20px;

            .company-card {
                width: 35%;
            }

            .logo {
                background-size: contain;
                margin: 10px;
                height: 90px;
            }

            .reflections {
                background-image: url('~/assets/images/logo/reflections.svg');
            }

            .schemax {
                background-image: url('~/assets/images/logo/schemax.png');
            }
        }

        .legend {
            display: flex;
            justify-content: flex-end;
            gap: 20px;
            font-size: 12px;
            margin-bottom: 15px;
        }

        .present-used::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
            background: $app-violet;
        }

        .past-used::before {
            content: "";
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 5px;
            background: $app-light-grey;
        }

        .chip-list {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .recent .mdc-chip {
                background: $app-violet;
                color: $app-white;
            }

            .recent .mdc-chip__icon {
                color: $app-white;
            }
        }



        .projects {
            overflow-y: scroll;
            height: 100vh;

            .project-card {
                background-color: $app-card-white;

                .card-title {
                    text-align: center;
                    font-size: larger;
                    padding: 5px;
                }
            }

            &::-webkit-scrollbar {
                width: 5px;
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, .12);
                border-radius: 20px;
            }

            .base-img {
                height: 60px;
                margin: 10px;
                background-repeat: no-repeat;
                background-size: cover;
            }

            .dummy {
                background-image: url('~/assets/images/img-dummy.jpg');
            }

            .project-img {
                display: flex;
            }

            .project-img .mdc-image-list__item {
                width: 150px;
                margin: 2px;
            }
        }

        .cert-img {
            .mdc-image-list__item {
                width: 200px;
                margin: 5px;
                cursor: pointer; 
                border-radius: 8px;
                
                .mdc-image-list__image {
                    background-position: unset;
                }
            }
        }

        .case-study-card {
            background-color: $app-card-white;
            .card-title {
                font-size: larger;
                padding: 10px
            }
        }
    }

    .bg-image {
        background-size: contain;
        padding: 10px;
        background-repeat: no-repeat;
    }

    .github {
        background-image: url('~/assets/images/logo/github-mark.png');
    }

    .linkedin {
        background-image: url('~/assets/images/logo/In-Blue.png');
    }

    .btn {
        margin: 3px;
        height: 30px;
    }

    .btn-link {
        text-decoration: none;
        color: inherit;
    }

    .mdc-image-list__image {
        border-radius: 8px;
    }

    .designation {
        text-align: center;
        font-size: smaller;
    }

}

/* Dark mode */
.dark-mode {
    body {
        background-color: $app-black;
        color: $app-dark-mode-color;
    }

    .mdc-divider__text,
    .mdc-divider--no-text {

        &::after,
        &::before {
            background-color: $app-dark-mode-color;
        }
    }

    .github {
        background-image: url('~/assets/images/logo/github-mark-white.png');
    }

    .linkedin {
        background-image: url('~/assets/images/logo/In-White.png');
    }

    .mdc-button {
        color: $app-black;
        background-color: $app-dark-mode-color;
    }

    .right-side {
        .summary {
            .years {
                background-image: url('~/assets/images/logo/yr-w.png');
            }
        }

        .projects::-webkit-scrollbar-thumb {
            background-color: #fff;
        }
    }
}